{% extends "template.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block nav %}
<a href="/home">HOME</a>
<a href="/login">LOGIN</a>
{% endblock %}

{% block body %}
<span id="text-box"></span>

    <!-- home section -->
    <section>
    <div class="box">
        <div class="form">

        <h2>Sign in </h2>
        <div class="inputbox">
          <input type="text" required="required" >
          <span>Username </span>
          <i></i>
        </div>

        <div class="inputbox">
            <input type="password" required="required" >
            <span>Password</span>
            <i></i>
          </div>

          <div class="links">
            <a href="#"> Forgot Password</a>
            <a href="#">Signup</a>
          </div>
          <input type="submit" value="Login">
      </div>
    </div>
    </section>

{% endblock %}
