<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INKredible</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body class="text-center">
    <!-- Dark Mode Switch -->
    <div class="theme-switch-wrapper">
        <span id="toggle-icon">
            <span id="toggle-text">Light Mode</span>
        <i class="fas fa-sun"></i>
        </span>
        <label class="theme-switch">
            <input type="checkbox">
            <div class="slider round"></div>
        </label>
    </div>
    <!-- Navigation -->
    <nav id="nav">
        <a href="/home">HOME</a>
        {% block nav %}
        {% endblock %}
        <a href="/login">LOGIN</a>
    </nav>
    <span id="text-box"></span>

    {% block body %}
    {% endblock %}


    <!-- Script -->
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>
